# Experimenting Mondoweiss File

In [59]:
import pandas as pd
import numpy as np

**Storing in variable df**

In [60]:
df = pd.read_csv("mondoweiss-20k-articles.csv")

**View First 5 rows of the dataframe df**

In [61]:
df.head()

,url,title,sub_title,author,author_link,article
0,https://mondoweiss.net/2023/02/with-frequent-p...,"With frequent power cuts, winters in Gaza can ...","During Gaza's cold winter months, the absence ...",Tareq S. Hajjaj,https://mondoweiss.net/author/tareqhajjaj/,It is 11:00 p.m. on a cold and dry evening eas...
1,https://mondoweiss.net/2023/02/israeli-soldier...,Israeli soldiers kill 16-year-old for throwing...,"Hamza Ashqar, 16, reportedly threw a piece of ...",Yumna Patel,https://mondoweiss.net/author/yumnapatel/,A 16-year-old Palestinian boy was shot and kil...
2,https://mondoweiss.net/2023/02/palestinian-ref...,"Palestinian refugees among the dead in Syria, ...",As the death toll from a devastating earthquak...,Yumna Patel,https://mondoweiss.net/author/yumnapatel/,As the death toll from Monday’s devastating ea...
3,https://mondoweiss.net/2023/02/israeli-army-ki...,Israeli army kills 5 Palestinians in raid of A...,After a ten-day siege imposed on Jericho and i...,Mariam Barghouti,https://mondoweiss.net/author/mariambarghouti/,"On Monday morning, February 6, Israeli forces ..."
4,https://mondoweiss.net/2023/02/nikki-haley-who...,"Nikki Haley, who once criticized AIPAC for bei...",Nikki Haley was the first U.S. governor to sig...,Michael Arria,https://mondoweiss.net/author/michael-arria/,Former South Carolina Governor and Trump offic...

**View Last 5 rows of the dataframe df**

In [62]:
df.tail()

,url,title,sub_title,author,author_link,article
20788,https://mondoweiss.net/2007/03/michael_walzer_/,Michael Walzer on Jewish Identity: Jewish Writ...,NaN,Philip Weiss,https://mondoweiss.net/author/philweiss/,I’m surprised that I’ve seen no coverage of po...
20789,https://mondoweiss.net/2007/03/do_americans_ha/,Do Americans Have a Say About Apartheid in Heb...,NaN,Philip Weiss,https://mondoweiss.net/author/philweiss/,M.J. Rosenberg of the Israel Policy Forum has ...
20790,https://mondoweiss.net/2007/03/obama_on_palest/,Obama on Palestinian Suffering,NaN,Philip Weiss,https://mondoweiss.net/author/philweiss/,Yesterday’s Times had a fine piece on the poli...
20791,https://mondoweiss.net/2006/12/standing_up_for/,Standing Up for Jimmy Carter’s Use of the Word...,NaN,Philip Weiss,https://mondoweiss.net/author/philweiss/,Jimmy Carter’s use of the word “apartheid” in ...
20792,https://mondoweiss.net/2006/10/niall_ferguson_/,"Niall Ferguson Disappoints, on Jews and Money",NaN,Philip Weiss,https://mondoweiss.net/author/philweiss/,Last night Yivo Institute on W. 16th Street ho...

**View Quick Description of the csv file**

In [63]:
df.describe()

,url,title,sub_title,author,author_link,article
count,20793,20742,834,20748,20748,20472
unique,20793,20657,834,1299,1304,20402
top,https://mondoweiss.net/2023/02/with-frequent-p...,In their own words,"During Gaza's cold winter months, the absence ...",Philip Weiss,https://mondoweiss.net/author/philweiss/,groups.yahoo.com/group/f_shadi (listserv) www....
freq,1,11,1,8078,8078,7

**Locating Author**

In [64]:
df.loc[df['author'] == 'Monalisa', 'author']

14475    Monalisa
Name: author, dtype: object

In [65]:
df.loc[df['author'] == 'Philip Weiss', 'author'] #used to select all the rows in the DataFrame df where the value in the 'author' column is equal to 'Philip Weiss'

16       Philip Weiss
24       Philip Weiss
26       Philip Weiss
29       Philip Weiss
31       Philip Weiss
             ...
20788    Philip Weiss
20789    Philip Weiss
20790    Philip Weiss
20791    Philip Weiss
20792    Philip Weiss
Name: author, Length: 8078, dtype: object

In [66]:
""" 
Name: author = indicates the name of the selected column
Length: 8078 =  tells us the number of rows that satisfy the condition df['author'] == 'Philip Weiss', which is 8078 in this case.
dtype: object = indicates the data type of the values in that column (which is 'object' in this case 
because the 'author' column contains string values) 
"""

" \nName: author = indicates the name of the selected column\nLength: 8078 =  tells us the number of rows that satisfy the condition df['author'] == 'Philip Weiss', which is 8078 in this case.\ndtype: object = indicates the data type of the values in that column (which is 'object' in this case \nbecause the 'author' column contains string values) \n"

**Count the Number of Missing Values**

In [67]:
df.isna().sum()

url                0
title             51
sub_title      19959
author            45
author_link       45
article          321
dtype: int64

**Remove Rows with Missing Values in the 'title','article', and 'author' Columns (then recheck afterwards)**

In [68]:
df.dropna(subset=['title'], inplace=True)
df.dropna(subset=['article'], inplace=True)
df.dropna(subset=['author'], inplace=True)
df.isna().sum()

url                0
title              0
sub_title      19627
author             0
author_link        0
article            0
dtype: int64

In [69]:
"""
dropna() method = drops rows that have at least one missing value
subset=['title'] parameter = specifies that only rows with missing values in the 'title' column should be dropped.
inplace=True parameter = tells the method to modify the DataFrame df in place, rather than returning a new DataFrame. 
This means that the original DataFrame df will be updated with the rows that have missing values in the 'title' column removed.
"""

"\ndropna() method = drops rows that have at least one missing value\nsubset=['title'] parameter = specifies that only rows with missing values in the 'title' column should be dropped.\ninplace=True parameter = tells the method to modify the DataFrame df in place, rather than returning a new DataFrame. \nThis means that the original DataFrame df will be updated with the rows that have missing values in the 'title' column removed.\n"

In [70]:
df.describe()

,url,title,sub_title,author,author_link,article
count,20460,20460,833,20460,20460,20460
unique,20460,20377,833,1271,1275,20390
top,https://mondoweiss.net/2023/02/with-frequent-p...,In their own words,"During Gaza's cold winter months, the absence ...",Philip Weiss,https://mondoweiss.net/author/philweiss/,groups.yahoo.com/group/f_shadi (listserv) www....
freq,1,11,1,8040,8040,7

**Removing specific object in a column (then recheck if it still exists)**

In [71]:
df.drop(df[df['author'] == 'Monalisa'].index, inplace=True)
df.describe()

,url,title,sub_title,author,author_link,article
count,20459,20459,833,20459,20459,20459
unique,20459,20376,833,1270,1274,20389
top,https://mondoweiss.net/2023/02/with-frequent-p...,In their own words,"During Gaza's cold winter months, the absence ...",Philip Weiss,https://mondoweiss.net/author/philweiss/,groups.yahoo.com/group/f_shadi (listserv) www....
freq,1,11,1,8040,8040,7

In [72]:
df.loc[df['author'] == 'Monalisa', 'author']

Series([], Name: author, dtype: object)

**Remove Duplicates from the DataFrame and Keep Only One Instance of the Most Common Value in the 'title' column**

In [76]:
df.drop_duplicates(subset='title', keep='first', inplace=True)
df.drop_duplicates(subset='article', keep='first', inplace=True)
df.describe()

16       Philip Weiss
24       Philip Weiss
26       Philip Weiss
29       Philip Weiss
31       Philip Weiss
             ...
20788    Philip Weiss
20789    Philip Weiss
20790    Philip Weiss
20791    Philip Weiss
20792    Philip Weiss
Name: author, Length: 7994, dtype: object

In [74]:
"""
drop_duplicates() method with the subset parameter
This will remove all rows that have a duplicate value in the title and article column, except for the first occurrence of the most common value. 
inplace=True parameter = modifies the original DataFrame instead of returning a new one. Note that if there are multiple values that occur equally frequently in the title column, this method will only keep the first one that it encounters.
"""

'\ndrop_duplicates() method with the subset parameter\nThis will remove all rows that have a duplicate value in the title and article column, except for the first occurrence of the most common value. \ninplace=True parameter = modifies the original DataFrame instead of returning a new one. Note that if there are multiple values that occur equally frequently in the title column, this method will only keep the first one that it encounters.\n'

**Saving the new dataframe (df) as a csv file without including the index column**

In [75]:
df.to_csv('updated_mondoweiss-20k-articles.csv', index=False)